


 @media all and (max-width: 480px)  {

 body{

background-color: #0D5191;
} 

.bannerimg{
    /* Rectangle 1 */ 
background-image: url("img/Store_Banner.jpg");
position: absolute;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 120px;
left:0px;
top: 0px;



/* /* Rectangle 3  */

}



.btn{
    position: relative;
    color: rgb(255, 253, 253);
    width: 20%;
}

.dropdown{
    color:red
}

h1{
    font-family: 'Permanent Marker', cursive;
    color: rgba(233, 229, 218, 0.966);
    font-size: 2.5em;
    /* height: 150px; */
    width: 25%;
    position: relative;
    
    left:120px;
    bottom: 35px;
    
/* TOTAL POWER */


font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

mix-blend-mode: normal;
transform: rotate(-11.98deg);

}


/* banner2 */
.bannerimg2{
    margin-top: 8px;
    background-image: url("img/3074356-barbell_bodybuilding_effort_exercise_fitness_gym_man_muscles_person_strong_training_weightlifting.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 135px;
    top:120px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);

}

h2{
    font-family: 'Playfair Display SC', serif;
    width: 45%;
    font-size: 0.8rem;
    text-align: center;
    color: rgb(13, 173, 194);
    left:18px;
    top: 25px;
   
    position: relative;
}

.bannerimg3{
    background-image: url("img/chan-bar-2-temp-s.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 130px;
    top:255px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
h3{
    position: absolute;
    right: 15px;
    color: rgb(241, 16, 16);
}

.bannerimg4{
    background-image: url("img/maxresdefault (1).jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:395px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
h4{
    position: relative;
    top:20px;
    font-size: 1.0rem;
    width: 30%;
    color:rgb(0, 0, 0);
    left: 20px;
}
.banneradd{
    background-image: url("img/Ray-Williams-3.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:535px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}





.bannerimg5{
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:680px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
.input-group{
    position: relative;
    float: left;
    left: 12px;
    width: 45%;
    top:40px;
    margin: 5px;
}
input{
    border-radius: 15px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

h5{
    position: absolute;
    color: #FFFFFF;
    left: 80px;

}







 }


 @media all and (min-width: 480px) and (max-width: 768px) { 
    .bdiv{
        margin: 0 auto;
        width: 75%;
        /* border:2px solid rgb(148, 45, 45); */
        height: 1000px;
    }
    
    
    body{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,42,157,1) 35%, rgba(0,212,255,1) 100%);
     }

     .bannerimg{
        /* Rectangle 1 */ 
    background-image: url("img/Store_Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    top: 0px;

    
  }
h1{
  font-family: 'Permanent Marker', cursive;
    color: rgba(235, 37, 37, 0.856);
    font-size: 2.5em;
    /* height: 150px; */
    width: 25%;
    position: relative;
    font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

mix-blend-mode: normal;
transform: rotate(-11.98deg);
    /* left:120px; */
    bottom: 2px;
margin:0 auto;}

  .dropdown{
    display: none;
}
/* nav bar */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
      position: relative;
   
    float: left;
    left:25px;
    font-size: 0.8em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* banner2 */
.bannerimg2{
    margin-top: 8px;
    margin:0 auto;
    background-image: url("img/3074356-barbell_bodybuilding_effort_exercise_fitness_gym_man_muscles_person_strong_training_weightlifting.jpg");
    /* position: absolute; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 135px;
    top:165px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);

}
h2{
    font-family: 'Playfair Display SC', serif;
    width: 35%;
    font-size: 0.7rem;
    text-align: center;
    color: rgb(13, 173, 194);
    left:18px;
    top: 20px;
    position: relative;
}
.bannerimg3{
    background-image: url("img/chan-bar-2-temp-s.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 49%;
    height: 190px;
    float:right;
    top:1px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
    
}
h3{
    position: absolute;
    right: 15px;
    color: rgb(241, 16, 16);
    top:125px;
}

.bannerimg4{
    background-image: url("img/maxresdefault (1).jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 48%;
    height: 190px;
   bottom:2px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
   
}
h4{
    position: relative;
    top:80px;
    font-size: 1.0rem;
    width: 30%;
    color:rgb(0, 0, 0);
    left: 20px;
}

.banneradd{
    background-image: url("img/Ray-Williams-3.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:5px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
}

.bannerimg5{
    background-color: rgba(0, 0, 0, 0.493);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:10px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.678);
   
    
}
.input-group{
    position: relative;
   
    left: 12px;
    width: 35%;
    top:12px;
    margin: 0 auto;
}
input{
    border-radius: 15px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

h5{
    position: relative;
    color: #FFFFFF;
    
    margin: 0 auto;

}






}

@media all and (min-width: 768px) and (max-width: 1024px) { 
    .bdiv{
        margin: 0 auto;
        width: 60%;
        /* border:2px solid rgb(148, 45, 45); */
        height: 1000px;
    }
    
    
    body{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,42,157,1) 35%, rgba(0,212,255,1) 100%);
     }

     .bannerimg{
        /* Rectangle 1 */ 
    background-image: url("img/Store_Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 120px;
    margin: 0 auto;
    top: 0px;

    
  }
h1{
  font-family: 'Permanent Marker', cursive;
    color: rgba(235, 37, 37, 0.856);
    font-size: 2.5em;
    /* height: 150px; */
    width: 25%;
    position: relative;
    font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

mix-blend-mode: normal;
transform: rotate(-11.98deg);
    /* left:120px; */
    bottom: 2px;
margin:0 auto;}

  .dropdown{
    display: none;
}
/* nav bar */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
      position: relative;
   
    float: left;
    left:25px;
    font-size: 0.8em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* banner2 */
.bannerimg2{
    margin-top: 8px;
    margin:0 auto;
    background-image: url("img/3074356-barbell_bodybuilding_effort_exercise_fitness_gym_man_muscles_person_strong_training_weightlifting.jpg");
    /* position: absolute; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 135px;
    top:165px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);

}
h2{
    font-family: 'Playfair Display SC', serif;
    width: 35%;
    font-size: 0.7rem;
    text-align: center;
    color: rgb(13, 173, 194);
    left:18px;
    top: 20px;
    position: relative;
}
.bannerimg3{
    background-image: url("img/chan-bar-2-temp-s.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 49%;
    height: 190px;
    float:right;
    top:1px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
    
}
h3{
    position: absolute;
    right: 15px;
    color: rgb(241, 16, 16);
    top:125px;
}

.bannerimg4{
    background-image: url("img/maxresdefault (1).jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 48%;
    height: 190px;
   bottom:2px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
   
}
h4{
    position: relative;
    top:80px;
    font-size: 1.0rem;
    width: 30%;
    color:rgb(0, 0, 0);
    left: 20px;
}

.banneradd{
    background-image: url("img/Ray-Williams-3.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:5px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
}

.bannerimg5{
    background-color: rgba(0, 0, 0, 0.493);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:10px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.678);
   
    
}
.input-group{
    position: relative;
   
    left: 12px;
    width: 35%;
    top:12px;
    margin: 0 auto;
}
input{
    border-radius: 15px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

h5{
    position: relative;
    color: #FFFFFF;
    
    margin: 0 auto;

}




}



@media all and (min-width: 1024px) { 

    .bdiv{
        margin: 0 auto;
        width: 55%;
         /* border:2px solid rgb(148, 45, 45);  */  

        height: 2000px;
    }
    
    
    body{
        background-image: url("img/solid-black-wallpaper-1920x1080-5af687835a9d5.jpg");
        background-attachment: fixed;
        /* background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,42,157,1) 35%, rgba(0,212,255,1) 100%); */
     }

     .bannerimg{
        /* Rectangle 1 */ 
    background-image: url("https://i.pinimg.com/originals/73/b5/c8/73b5c803f71615276f739c722c4630f8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    margin: 0 auto;
    top: 0px;

    
  }
h1{
  font-family: 'Permanent Marker', cursive;
    color: rgba(235, 37, 37, 0.856);
    font-size: 3.8em;
    /* height: 150px; */
    width: 25%;
    position: relative;
    font-style: normal;
font-weight: normal;
line-height: normal;
text-align: center;
text-transform: uppercase;

mix-blend-mode: normal;
transform: rotate(-11.98deg);
    /* left:120px; */
    bottom: 2px;
margin:0 auto;}

  .dropdown{
    display: none;
}
/* nav bar */
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
      position: relative;
   
    float: left;
    left:300px;
    text-align: center;
    
    font-size: 01.2em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
/* banner2 */
.bannerimg2{
    margin-top: 8px;
    margin:0 auto;
    background-image: url("img/3074356-barbell_bodybuilding_effort_exercise_fitness_gym_man_muscles_person_strong_training_weightlifting.jpg");
    /* position: absolute; */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    top:165px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5), 0 2px 3px rgba(0, 0, 0, .5);

}
h2{
    font-family: 'Playfair Display SC', serif;
    width: 35%;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(13, 173, 194);
    left:18px;
    top: 20px;
    position: relative;
}
.bannerimg3{
    background-image: url("img/chan-bar-2-temp-s.png");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 49%;
    height: 250px;
    float:right;
    top:1px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
    
}
h3{
    position: absolute;
    right: 160px;
    color: rgb(241, 16, 16);
    top:25px;

    font-size: 2.1em;
}

.bannerimg4{
    background-image: url("img/maxresdefault (1).jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 48%;
    height: 250px;
   bottom:2px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
   
}
h4{
    position: relative;
    top:50px;
    width: 15px;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5rem;
    width: 15%;
    color:rgb(180, 25, 25);
    left: 15px;
}
.bannerimg6{
    background-image: url("img/Ray-Williams-3.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 280px;
    top:5px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
}
.banneradd{
    background-image: url("https://i.ytimg.com/vi/J8vhaQZSkHo/maxresdefault.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 280px;
    top:5px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);
    
}
.meet{
    position: relative;
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
    left: 20px;
    color: #FFFFFF;

}
.bannerimg5{
    background-color: rgba(0, 0, 0, 0.493);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 135px;
    top:10px;
    box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.678);
   
    
}
.input-group{
    position: relative;
   
    left: 12px;
    width: 15%;
    top:12px;
    margin: 0 auto;
}
input{
    border-radius: 15px;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.25);
}

h5{
    position: relative;
    color: #FFFFFF;
    
    margin: 0 auto;

}


}